[flex] {
	display: flex;
}

[flex-col] {
	display: flex;
	flex-direction: column;
}

[no-grow] {
	flex-grow: 0!important;
}

[container] {
	padding: 1em;
	width: calc(100% - 2em);
	height: calc(100% - 2em);
}

[ccenter] {
	align-items: center;
	justify-content: center;
}

[container] div {
	flex-grow: 1;
}

[p1em] {
	padding: 1em;
}

[hidden] {
	visibility: hidden;
}

[border] {
	border: 1px solid #555;
	border-radius: 1em;
	border-width: 0.2em;
	margin-bottom: -0.2em;
	padding: 1em 1em 1.2em 1em;
}

span {
	padding: 1em;
}

input {
	width: calc(1em + 20vw);
	text-align: center;
}

body {
	padding: 0;
	margin: 0;
	font-size: calc(1em + 0.75vw);
	font-family: 'Roboto Mono', monospace;
}


/* div {
    -webkit-box-shadow:inset 0px 0px 0px 1px #f00;
    -moz-box-shadow:inset 0px 0px 0px 1px #f00;
    box-shadow:inset 0px 0px 0px 1px #f00;
} */